{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>

    <body>
        <div class="container-fluid p-2 m-0 border text-center bg-dark">
            <h1 class="font-weight-light text-light">Kontakt</h1>
        </div>
        <div class="container-fluid text-center">
            <div class="row my-2">
                <div class="col"><p><strong>E-mail - </strong>dotomika@gmail.com</p></div>
                <div class="col"><p><strong>Telefon - </strong>535357027</p></div>
            </div>
        </div>

        <div class="container border shadow p-4 mb-4 bg-white">
            <div class="jumbotron m-0 p-2 text-center"><h4>Wyślij wiadomość</h1></div>
            <div class="form-group">
                <form action="" method="POST">
                    <label class="my-2" for="theme">Temat:</label>
                    <input type="text" class="form-control" id="theme">
                    <form action="" method="POST">
                    <label class="mt-2" for="comment">Wiadomość:</label>
                    <textarea class="form-control" rows="4" id="comment"></textarea>
                    <label class="my-2" for="usr">Twój e-mail:</label>
                    <input type="email" class="form-control" id="usr">
                </form>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-primary px-4">Prześlij</button>
                <div class="btn-group">
                    <button type="button" class="btn btn-muted border dropdown-toggle px-4" data-toggle="dropdown">Kategoria</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item active">Pytanie</a>
                        <a class="dropdown-item">Informacja</a>
                        <a class="dropdown-item">Skarga</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock %}