{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="pl">

    <body>
        <div class="container-fluid p-2 my-0 border text-center bg-dark">
            <h1 class="font-weight-light text-light">O mnie</h1>
        </div>
        <div class="container-fluid text-center">
            <div class="row mb-2">
                <div class="col"><p><strong>Imię - </strong>Tomasz</p></div>
                <div class="col"><p><strong>Drugie imię - </strong>Piotr</p></div>
                <div class="col"><p><strong>Nazwisko - </strong>Kordiak</p></div>
            </div>
        </div>
   
        <div class="container border shadow p-4 mb-4 bg-white">
            <div class="jumbotron m-0 p-2 text-center"><h4>Doświadczenie</h1></div>
            <ul>
                <li>Praca</li>
                <li>Kurs</li>
                <li>Więcej pracy</li>
            </ul>
        </div>

        <div class="container border shadow p-4 mb-4 bg-white">
            <div class="jumbotron m-0 p-2 text-center"><h4>Edukacja</h1></div>
            <ul>
                <li>Szkoła</li>
                <li>Wcześniejsza szkoła</li>
            </ul>
        </div>

        <div class="container border shadow p-4 mb-4 bg-white">
            <div class="jumbotron m-0 p-2 text-center"><h4>Języki</h1></div>
            <ul>
                <li>Język</li>
                <li>Inny język</li>
            </ul>
        </div>

        <div class="container border shadow p-4 mb-4 bg-white">
            <div class="jumbotron m-0 p-2 text-center"><h4>Umiejętności</h1></div>
            <ul>
                <li>Robienie czegoś</li>
                <li>Robienie czegoś innego</li>
                <li>I takie tam</li>
            </ul>
        </div>

        <div class="container border shadow p-4 mb-4 bg-white">
            <div class="jumbotron m-0 p-2 text-center"><h4>Zainteresowania</h1></div>
            <ul>
                <li>Takie coś</li>
                <li>Coś innego</li>
                <li>To z takim czymś</li>
            </ul>
        </div>
    </body>
</html>
{% endblock %}